<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container" style="margin-top:50px;">
        <form id="addForm" action="/findProduct" method="get">
            <div class="form-group mt-4">
                <label for="name" class="text-dark">Model</label>
                <input class="form-control mb-2" type="text" name="model" placeholder="Enter product model" required>
            </div>
            <button type="submit" class="btn btn-warning me-1 mb-3">Search</button>
        </form>
    </div>
</body>
</html>